.welcome {
    font-size: 50px;
}

.info {
    font-size: x-small;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    background-color: rgb(37, 37, 37);
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}