.pechalie {
    width: 500px;
    height: 110px;
    background-image: url("Pechalie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px auto;
    margin-left: auto;
    margin-right: auto;
}

.article {
    background-color: white;
    width: 650px;
    height: 500px;
    outline-width: 3px;
    outline-color: black;
    outline-style: solid;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.articler {
    background-color: white;
    margin-left: auto;
    width: 650px;
    height: 500px;
    outline-width: 3px;
    outline-color: black;
    outline-style: solid;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

h1 {
    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

.pechalie_news {
    width: 500px;
    height: 110px;
    background-image: url("Pechalie News.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px auto;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    font-size: 50px;
}

.info {
    font-size: x-small;
    font-family: "Frutiger";
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.Links {
    width: 500px;
    height: 110px;
    background-image: url("Links.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px auto;
    margin-left: auto;
    margin-right: auto;
}

.credits1 {
    width: 500px;
    height: 110px;
    background-image: url("Credits.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px auto;
    margin-left: auto;
    margin-right: auto;
}

.credits {
    font-size: 25px;
    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0044ff; /* Fallback color in case image doesn't load */
}

 @font-face {
    font-family: "Frutiger"; /* Choose a descriptive name for your font */
    src: url("fonts/Frutiger.ttf") format("truetype"),
}

a {
    font-family: "Frutiger";
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
    display: block; /* Make it a block-level element */
    width: fit-content; /* Or define a specific width */
    margin: 0 auto; /* Center horizontally */
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.navbar {
    background-image: radial-gradient(rgb(17, 0, 255), rgb(134, 125, 255), rgb(255, 255, 255));
    background-size: 50px 15px;
    display: flex;
    gap: 5px;
}