.welcome {
    font-size: 50px;
}

.info {
    font-size: x-small;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

body {
    background-color: darkblue;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}